.todo-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 8px;
}
body {
    padding: 50px;
    background-color: #9ad4f3;
    font-family: sans-serif;
}
.todo-form input,
.item {
    border: 1px solid #ececec;
}
.todo-item input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid transparent;
    transition: .25s border-bottom ease-in-out;
}
.modal {
    background-color: #616464;
    color: #4cf1f1;
    position: absolute;
    width: 60%;
    height: 20%;
    left: 17%;
    top: 10%;
    padding: 20px;
}


/* Todo form styles */
.todo-form input,

.todo-form input {
    padding: 0 14px;
    width: 30%;
    height: 48px;
    transition: .25s border ease-in-out;
}

.todo-form input:focus {
    outline: 0;
    border: 1px solid #3498db;
}
/*popup window input*/
.window-input input {
    padding: 0 14px;
    width: 30%;
    height: 48px;
    transition: .25s border ease-in-out;
}
.window-input input:focus {
    outline: 0;
    border: 1px solid #3498db;
}
/*todo item style*/
.todo-item-input-wrapper input {
    padding: 0 14px;
    width: 85%;
    height: 30px;
    transition: .25s border ease-in-out;
}
.todo-item-input-wrapper input:focus {
    outline: 0;
    border: 1px solid #3498db;
}