.todo-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 8px;
}
body {
    padding: 50px;
    background-color: #9ad4f3;
    font-family: sans-serif;
}
.todo-form input,
.item {
    border: 1px solid #ececec;
}
.todo-item input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid transparent;
    transition: .25s border-bottom ease-in-out;
}
.modal {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 35%;
    left: 13%;
    top: 10%;
    padding: 20px;
}
